<% layout('layout/layout')%>

<div class="container">

  <h1>mission page</h1>
  mission tltle<input type = "text" id="missionTitle">
  mission creator<input type = "text" id="missionCreator">
  <button onclick = "missionInsert()">미션 등록</button>

</div>